In [1]:
import rpy2.interactive as ri
import rpy2.interactive.packages # this can take few seconds

import pandas as pd

In [2]:
ri.IntVector(range(10))

R object with classes: ('integer',) mapped to:
<IntVector - Python:0x0000021BE5B3F788 / R:0x0000021BCC4FC160>
[0, 1, 2, 3, ..., 6, 7, 8, 9]

In [3]:
ri.packages.importr("cluster")

rpy2.robjects.packages.Package as a <module 'cluster'>

In [4]:
ri.packages.importr("utils")

rpy2.robjects.packages.Package as a <module 'utils'>

In [5]:
rlib = ri.packages.packages

In [6]:
m = rlib.utils.available_packages()

In [7]:
from rpy2.robjects import r, pandas2ri

In [8]:
pandas2ri.activate() # data conversion

In [9]:
from rpy2.robjects.packages import importr # control plot
grdevices = importr('grDevices')

In [10]:
## LINEAR REGRESSION

In [11]:
r('x <- rnorm(100)')  # generate x at R

array([-1.43354614, -1.20734356, -0.37847759, -1.47980195, -0.67003438,
       -1.30881471,  0.12170768, -0.89727989,  1.11979533,  0.69710328,
       -0.15243125, -0.40759284, -0.44617171, -0.01692279,  0.29655089,
       -0.60767932,  0.1287987 ,  0.81724004, -0.37694352, -1.93723894,
       -0.06750412,  0.03165215, -0.11935947, -0.65201328,  1.092414  ,
        0.64311406, -2.80519108, -0.92188602,  0.54913669,  0.07626613,
        0.93943238,  0.04695699, -0.45431714,  0.04267722,  0.71009706,
        0.02254498, -0.35481236,  0.59563573,  1.58710691,  0.63808648,
        0.74606604,  1.57944502, -1.79033772,  1.4962623 , -0.75344475,
       -0.19775517,  1.22328061, -0.70204036,  0.10563071, -0.54104782,
        0.70908172,  0.81686803, -1.28828795, -1.08427079,  1.47934946,
       -0.92581982, -1.23174435,  0.52814051, -1.49600193, -1.41447307,
       -2.07488682,  0.73208039,  0.44513879, -1.01389783, -1.29761646,
        0.53513595, -0.79892209, -0.5049128 ,  1.08663442, -1.70863219,
       -0.02805772, -0.11578776,  0.43297076,  1.10398293, -1.31313534,
        0.77328804, -1.09375375,  0.76634968,  1.44308185, -0.10136844,
        0.54562216,  0.95412098,  1.74356304, -0.34759386,  0.11024295,
       -0.61904414, -0.95504537, -2.3770538 , -0.28744295,  2.46763942,
       -0.54082927,  0.21887342,  0.05270561,  0.23235838,  0.92595174,
       -0.72706863, -1.43831243,  0.91610804, -0.1592844 ,  0.01297468])

In [12]:
r('y <- x + rnorm(100,sd=0.5)')  # generate y at R

array([-1.57641888, -1.13352502,  0.06238649, -1.7074333 ,  0.97868457,
       -1.89492458, -0.11341499, -0.34450697,  1.24344815, -0.11382473,
       -0.34196561, -1.29551529, -0.92247074,  0.01872758,  0.22179262,
       -0.60886078, -0.04459229,  0.81924631,  0.12198842, -1.75559313,
        0.27660694,  0.98723045,  0.5367346 , -0.70689634,  1.27306679,
        1.37374027, -2.67574171, -1.29961053,  0.72766096,  0.8580661 ,
        0.77623811, -0.1353942 , -0.16312843, -0.22317618,  1.03233908,
        0.48152503, -0.7215401 ,  0.50965441,  1.91099142,  1.53589964,
        0.5390784 ,  0.94116039, -2.93910066,  1.95608249, -0.99035834,
        0.09755004,  0.49211487, -0.31635764,  0.47126495, -0.47494478,
        0.71939744, -0.48307804, -2.43701267, -0.76710974,  1.74047329,
       -0.98483079, -0.54073502,  0.21173743, -1.7676904 , -0.54237668,
       -0.88485881,  1.33416305,  1.08729702, -0.8778229 , -0.67276915,
        0.81629725, -1.59964826,  0.20038604,  1.33792457, -1.35886808,
        0.39703165,  0.19749427,  0.33051651,  0.71136886, -1.15417536,
        1.272443  , -1.48009413,  0.4121732 ,  2.33065808, -0.02799186,
        1.33704513,  0.86822117,  2.06112498, -1.145861  ,  0.39373438,
       -0.78141541, -0.89188024, -2.85241246,  0.10935938,  1.61830749,
       -0.71846986,  1.01580835,  0.32011699, -0.0159153 ,  0.76592527,
       -0.89113036, -1.42676242,  1.24579568, -0.28945141,  0.41231471])

In [13]:
r('plot(x,y)')  # have R plot them

rpy2.rinterface.NULL

In [14]:
grdevices.dev_off();

In [15]:
r('lmout <- lm(y~x)');  # run the regression

In [16]:
loclmout = r('summary(lmout)') # download lmout from R to Python

In [17]:
print(loclmout)  # print locally

Call:

lm(formula = y ~ x)



Residuals:

    Min      1Q  Median      3Q     Max

-1.3782 -0.2894 -0.0024  0.3124  1.5728



Coefficients:

            Estimate Std. Error t value Pr(>|t|)

(Intercept)  0.07700    0.05245   1.468    0.145

x            1.00154    0.05261  19.039   <2e-16 ***

---

Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1



Residual standard error: 0.5212 on 98 degrees of freedom

Multiple R-squared:  0.7872,	Adjusted R-squared:  0.785

F-statistic: 362.5 on 1 and 98 DF,  p-value: < 2.2e-16

In [18]:
grdevices.png(file="Rpy2Curve_sin.png", width=512, height=512)
p = r('curve(sin, -2*pi, 2*pi)')
grdevices.dev_off();

In [19]:
grdevices.png(file="Rpy2Curve_x2.png", width=512, height=512)
r('''eq <- function(x) {x*x}''')
p = r('curve(eq,1,1000)')            # OUTPUTS TO FILE
grdevices.dev_off();

In [20]:
p = r('curve(eq,1,1000)')            # OUTPUTS TO SCREEN

In [21]:
grdevices.dev_off();

In [22]:
# LOAD DATA
r_df = r.data('iris')

In [23]:
r['iris'].head()
# r_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [24]:
# CONVERT DATAFRAME FROM PY-PANDAS TO R
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C':[7,8,9]}, index=["one", "two", "three"])

In [25]:
r_dataframe = pandas2ri.py2ri(df)

In [26]:
print(type(r_dataframe))

<class 'rpy2.robjects.vectors.DataFrame'>

In [27]:
print(r_dataframe)

      A B C

one   1 4 7

two   2 5 8

three 3 6 9

In [28]:
pd_df_back = pandas2ri.ri2py(r_dataframe)

In [29]:
pd_df_back.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9